
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#0ce860, #032911);
  color: rgb(15, 15, 15);
  font-family: 'calibri', sans-serif;
  font-weight: 400;
  
}
.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background: linear-gradient(#032911,#0ce860);
  flex: 0 0 80%;
}
#flashCardBtn {
  border: none;
  color: #fff;
  background: #813c03;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}
#flashCardBtn:hover {
  color: hsla(65, 100%, 74%, 0.85);
}
blockquote {
  background:hsla(149, 41%, 48%, 0.85);
  border-left: 10px solid hsla(149, 100%, 16%, 0.85);
  margin: 1.5rem;
  padding: 0.5rem;

}
#answer {
  color:#813c03;;
}